$primary-color:rgb(141, 67, 17);

h1,h2,ul,dd{
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
}
.container{
    margin: auto;
    width: 80%;
    max-width: 1140px;
}
body{
    margin: 0;
    // background-color: rgb(255, 126, 126);
}
//===========================================================
// 頁首
//============================================================

header{
     background-color: rgb(203, 249, 255);
}
header>div>h1{
    padding-top: 10px;
    padding-left: 30px;
    color:$primary-color;
}
header>div>h1>a{
    text-decoration: none;
    color:$primary-color;
}
header>div>nav>ul{
    display: flex;
    justify-content: center;
}
header>div>nav>ul>li{
    margin:25px;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0); 
}
header>div>nav>ul>li>a{
    display: block;
    padding: 5px;
    text-decoration: none;
    line-height: 30px;
    color:$primary-color;
    font-size: 1.2em;
    letter-spacing: 2px;
    border-radius: 10px;
    text-align: center;   
    box-sizing: border-box;
    box-shadow: 2px 2px 3px rgb(99, 99, 99);
    font-weight: 800;
}
header>div>nav>ul>li>a:hover{
    background-color: rgb(124, 147, 250);
    color:aliceblue;
}
//============================================================
// 大圖內容
//============================================================

//============================================================
// 內容
//============================================================
.container>h2{
    color: $primary-color;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
// 圖片相關
.img-fluid{
    width: 100%;
}
.img-rounded{
    border-radius: 8px;
}
// 文字相關
.text-center{
    text-align: center;
}
// 區塊相關
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.col-3{
    width: calc(100% / 4 - 30px);
    margin: 0px 15px 40px 15px;
    // 上右下左
}
.col-4{
    width: calc(100% / 3 - 30px);
    margin: 0px 15px 40px 15px;
    // 上右下左
}
.col-8{
    width: calc(100% / 1.5 -30px);
    margin: 0px 15px 40px 15px;
}
.col-4>p>a{
    text-decoration: none;
}
.title a{
    color:brown;
    font-size: 1.3em;
    font-weight: 800;
}
.date{
    color:$primary-color;
}
footer{
    background-color: rgb(251, 255, 196);
    padding: 40px 40px 0 40px;
}
footer dt{
    font-size: 1.2em;
    color: $primary-color;
    margin-bottom: 10px;
}
footer dd{
    margin-bottom: 5px;
}
footer a{
    text-decoration: none;
    color: rgb(41, 41, 41);
}
// ============平面作品=====================
// ============平面作品=====================
// ============平面作品=====================
.S1>.breadcrumb>a{
    text-decoration: none;
    color: black;
}
.S1>.breadcrumb>a:hover{
    color: rgb(146, 58, 0);
}
.S2>.container{
    display: flex;
    justify-content: space-between;
}
.S2>.container>.leftbox{
    width: 20%;
}
.S2>.container>.rightbox{
    width: 80%;
}
.S2>.container>.leftbox>dl>dt{
    margin-bottom: 20px;
    border: 1px solid rgb(255, 136, 0);
    background-color: rgb(255, 215, 177);
    border-radius: 8px;
}
.S2>.container>.leftbox>dl>dt>a{
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    border-radius: 8px;
    color:rgb(95, 73, 0);
    box-shadow: 2px 2px 3px rgb(75, 75, 75);
}
.S2>.container>.leftbox>dl>dt>a:hover{
    background-color: rgb(63, 18, 1);
    color:aliceblue;
}
.S2>.container>.rightbox>h2{
    margin-left: 20px;
    margin-bottom: 10px;
    color:$primary-color;
}
.S2>.container>.rightbox>.row>.col-4>a{
    display: block;
    border-radius: 8px;
    overflow:hidden;
}
.S2>.container>.rightbox img{
    transition: all 1s;
}
.S2>.container>.rightbox img:hover{
    transform: scale(1.5);
}
//======================上課內容=============
.container>.row>.breadcrumb{
    width: 100%;
}
.container>.row>.breadcrumb>a{
    text-decoration: none;
    color: #000;
}
.container>.row>.breadcrumb>a:hover{
    color: blue;
}
.w-20{
    width: 20%;
    background-color: rgb(255, 241, 164);
}
.w-80{
    width: 80%;
    background-color: rgb(255, 153, 0);
}
.container>.row>.col-9>.row>.col-4>a{
    display: block;
    text-decoration: none;
}