$primary-color:rgb(141, 67, 17);

h1,ul{
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
}
.container{
    margin: auto;
    width: 80%;
    max-width: 1140px;
}
body{
    margin: 0;
    // background-color: rgb(255, 126, 126);
}
//===========================================================
// 頁首
//============================================================

header{
    // background-color: rgb(203, 249, 255);
}
header>div>h1{
    margin-top: 10px;
    padding-left: 30px;
    color:$primary-color;
}
header>div>nav>ul{
    display: flex;
    justify-content: center;
}
header>div>nav>ul>li{
    margin:30px;
}
header>div>nav>ul>li>a{
    padding: 10px;
    text-decoration: none;
    line-height: 30px;
    color:$primary-color;
    font-size: 1.2em;
    letter-spacing: 2px;
    border-radius: 10px;
    text-align: center;   
    border: 1px solid rgb(0, 0, 0); 
    box-sizing: border-box;
}
header>div>nav>ul>li>a:hover{
    background-color: rgb(124, 147, 250);
    color:aliceblue;
}
//============================================================
// 大圖內容
//============================================================

//============================================================
// 內容
//============================================================
.container>h1{
    margin: 10px 0;
    color: $primary-color;
    margin-left: 30px;
}
.img-fluid{
    width: 100%;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.col-4{
    width: calc(100% / 3 - 30px);
    margin: 0px 15px 40px 15px;
    // 上右下左
}
.col-4>p{
    text-align: center;
}
.col-4>p>a{
    text-decoration: none;
}
