h1, h2, ul, dd {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.container {
  margin: auto;
  width: 80%;
  max-width: 1140px;
}

body {
  margin: 0;
}

header {
  background-color: #cbf9ff;
}

header > div > h1 {
  padding-top: 10px;
  padding-left: 30px;
  color: #8d4311;
}

header > div > h1 > a {
  text-decoration: none;
  color: #8d4311;
}

header > div > nav > ul {
  display: flex;
  justify-content: center;
}

header > div > nav > ul > li {
  margin: 25px;
  border-radius: 10px;
  border: 1px solid black;
}

header > div > nav > ul > li > a {
  display: block;
  padding: 5px;
  text-decoration: none;
  line-height: 30px;
  color: #8d4311;
  font-size: 1.2em;
  letter-spacing: 2px;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 2px 2px 3px #636363;
  font-weight: 800;
}

header > div > nav > ul > li > a:hover {
  background-color: #7c93fa;
  color: aliceblue;
}

.container > h2 {
  color: #8d4311;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.img-fluid {
  width: 100%;
}

.img-rounded {
  border-radius: 8px;
}

.text-center {
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.col-3 {
  width: calc(100% / 4 - 30px);
  margin: 0px 15px 40px 15px;
}

.col-4 {
  width: calc(100% / 3 - 30px);
  margin: 0px 15px 40px 15px;
}

.col-8 {
  width: calc(100% / 1.5 - 30px);
  margin: 0px 15px 40px 15px;
}

.col-4 > p > a {
  text-decoration: none;
}

.title a {
  color: brown;
  font-size: 1.3em;
  font-weight: 800;
}

.date {
  color: #8d4311;
}

footer {
  background-color: #fbffc4;
  padding: 40px 40px 0 40px;
}

footer dt {
  font-size: 1.2em;
  color: #8d4311;
  margin-bottom: 10px;
}

footer dd {
  margin-bottom: 5px;
}

footer a {
  text-decoration: none;
  color: #292929;
}

.S1 > .breadcrumb > a {
  text-decoration: none;
  color: black;
}

.S1 > .breadcrumb > a:hover {
  color: #923a00;
}

.S2 > .container {
  display: flex;
  justify-content: space-between;
}

.S2 > .container > .leftbox {
  width: 20%;
}

.S2 > .container > .rightbox {
  width: 80%;
}

.S2 > .container > .leftbox > dl > dt {
  margin-bottom: 20px;
  border: 1px solid #ff8800;
  background-color: #ffd7b1;
  border-radius: 8px;
}

.S2 > .container > .leftbox > dl > dt > a {
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 5px;
  border-radius: 8px;
  color: #5f4900;
  box-shadow: 2px 2px 3px #4b4b4b;
}

.S2 > .container > .leftbox > dl > dt > a:hover {
  background-color: #3f1201;
  color: aliceblue;
}

.S2 > .container > .rightbox > h2 {
  margin-left: 20px;
  margin-bottom: 10px;
  color: #8d4311;
}

.S2 > .container > .rightbox > .row > .col-4 > a {
  display: block;
  border-radius: 8px;
  overflow: hidden;
}

.S2 > .container > .rightbox img {
  transition: all 1s;
}

.S2 > .container > .rightbox img:hover {
  transform: scale(1.5);
}

.container > .row > .breadcrumb {
  width: 100%;
}

.container > .row > .breadcrumb > a {
  text-decoration: none;
  color: #000;
}

.container > .row > .breadcrumb > a:hover {
  color: blue;
}

.container > .row > .col-4 {
  width: 20%;
  margin: 0;
}

.btn-primary {
  background-color: #fca70a;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #464646;
  border-radius: 8px;
  text-align: center;
  box-shadow: 1px 1px 1px #a8a8a8;
  text-decoration: none;
  display: block;
  border-radius: 8px;
  color: #f7e7d0;
  font-size: 1.3em;
}

.btn-primary:hover {
  background-color: #ffcc9d;
  color: #ff6600;
}

.container > .row > .col-8 {
  width: 80%;
  margin: 0;
}

.container > .row > .col-8 > .row > .col-4 > a {
  display: block;
  text-decoration: none;
}