h1, ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.container {
  margin: auto;
  width: 80%;
  max-width: 1140px;
}

body {
  margin: 0;
}

header {
  background-color: #cbf9ff;
}

header > div > h1 {
  padding-left: 30px;
  color: #ff9100;
}

header > div > nav > ul {
  display: flex;
  justify-content: center;
}

header > div > nav > ul > li {
  margin: 30px;
  text-align: center;
}

header > div > nav > ul > li > a {
  text-decoration: none;
  line-height: 30px;
  color: #8d4311;
  font-size: 1.2em;
  letter-spacing: 2px;
}