h1, h2, ul, dd {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.container {
  margin: auto;
  width: 80%;
  max-width: 1140px;
}

body {
  margin: 0;
}

header {
  background-color: #cbf9ff;
}

header > div > h1 {
  padding-top: 10px;
  padding-left: 30px;
  color: #8d4311;
}

header > div > h1 > a {
  text-decoration: none;
  color: #8d4311;
}

header > div > nav > ul {
  display: flex;
  justify-content: center;
}

header > div > nav > ul > li {
  margin: 25px;
}

header > div > nav > ul > li > a {
  padding: 10px;
  text-decoration: none;
  line-height: 30px;
  color: #8d4311;
  font-size: 1.2em;
  letter-spacing: 2px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid black;
  box-sizing: border-box;
  box-shadow: 2px 2px 3px #636363;
  font-weight: 800;
}

header > div > nav > ul > li > a:hover {
  background-color: #7c93fa;
  color: aliceblue;
}

.container > h2 {
  color: #8d4311;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.img-fluid {
  width: 100%;
}

.img-rounded {
  border-radius: 8px;
}

.text-center {
  text-align: center;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.col-3 {
  width: calc(100% / 4 - 30px);
  margin: 0px 15px 40px 15px;
}

.col-4 {
  width: calc(100% / 3 - 30px);
  margin: 0px 15px 40px 15px;
}

.col-4 > p > a {
  text-decoration: none;
}

.title a {
  color: brown;
  font-size: 1.3em;
  font-weight: 800;
}

.date {
  color: #8d4311;
}

footer {
  background-color: #fbffc4;
  padding: 40px 40px 0 40px;
}

dt {
  font-size: 1.2em;
  color: #8d4311;
  margin-bottom: 10px;
}

dd {
  margin-bottom: 5px;
}

dd > a {
  text-decoration: none;
  color: #292929;
}

section > .topbar > a {
  text-decoration: none;
}

section > .container {
  display: flex;
  justify-content: space-between;
}

section > .container > .leftbox {
  width: 150px;
}

section > .container > .leftbox > dl > dt > a {
  text-decoration: none;
  border: 1px solid #ff8800;
  background-color: #ffd7b1;
  border-radius: 8px;
  padding: 5px;
  margin-bottom: 10px;
}

section > .container > .leftbox > dl > dt > a:hover {
  background-color: #3f1201;
  color: aliceblue;
}

section > .container > .rightbox > h2 {
  margin-left: 20px;
  margin-bottom: 10px;
  color: #8d4311;
}