@charset "UTF-8";
body {
  color: red;
  font-family: Impact, 微軟正黑體;
  background-color: rgba(250, 239, 85, 0.479);
}

.btn-primary {
  background-color: black;
  color: rgba(250, 239, 85, 0.479);
  padding: 10px;
  border-radius: 8px;
  text-decoration: none;
  letter-spacing: 3px;
}

.btn-primary:hover {
  background-color: #505050;
  color: brown;
}