doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio-design-list
    link(rel='stylesheet', href='public/css/style.css')
  body
    header
      .container.overflow-hidden
        a.icon-menu(href="#") menu
        h1
          a(href='index.html') My Portfolio
        nav
          ul
            li
              a(href='#') 關於作者
            li
              a(href='design-list.html') 平面作品
            li
              a(href='deslign-list2.html') 網頁作品
            li
              a(href='#') 連絡作者
    // ===============頁首結尾==========================
    // =====================content start===================================
    section.S1.container
      p.breadcrumb
        a(href='index.html') 首頁
        span &nbsp; &gt; &nbsp;
        a(href='design-list.html') 平面作品
    section.S2
      .container
        .leftbox
          dl
            dt
              a(href='#') 類別01
            dt
              a(href='#') 類別02
            dt
              a(href='#') 類別03
            dt
              a(href='#') 類別04
        .rightbox
          h2 作品一覽
          .row
            .col-12.col-md-4
              a(href='')
                img.img-fluid.img-rounded(src='https://placekitten.com/150/150', alt='')
              p.title.text-center 標題01
              p.date.text-center 2022-06-16
            .col-12.col-md-4
              a(href='')
                img.img-fluid.img-rounded(src='https://placekitten.com/150/150', alt='')
              p.title.text-center 標題02
              p.date.text-center 2022-06-16
            .col-12.col-md-4
              a(href='')
                img.img-fluid.img-rounded(src='https://placekitten.com/150/150', alt='')
              p.title.text-center 標題03
              p.date.text-center 2022-06-16
            .col-12.col-md-4
              a(href='')
                img.img-fluid.img-rounded(src='https://placekitten.com/150/150', alt='')
              p.title.text-center 標題04
              p.date.text-center 2022-06-16
            .col-12.col-md-4
              a(href='')
                img.img-fluid.img-rounded(src='https://placekitten.com/150/150', alt='')
              p.title.text-center 標題05
              p.date.text-center 2022-06-16
            .col-12.col-md-4
              a(href='')
                img.img-fluid.img-rounded(src='https://placekitten.com/150/150', alt='')
              p.title.text-center 標題06
              p.date.text-center 2022-06-16
    // =====================content end===================================
    // =====================footer start===================================
    footer
        .container
         .row
            dl.col-3
                dt 標題01
                    dd
                        a(href='') 項目01
                    dd
                        a(href='') 項目02
                    dd
                        a(href='') 項目03
                    dd
                        a(href='') 項目04
            dl.col-3
                dt 標題02
                    dd
                        a(href='') 項目01
                    dd
                        a(href='') 項目02
                    dd
                        a(href='') 項目03
                    dd
                        a(href='') 項目04
            dl.col-3
                dt 標題03
                    dd
                        a(href='') 項目01
                    dd
                        a(href='') 項目02
                    dd
                        a(href='') 項目03
                    dd
                        a(href='') 項目04
            dl.col-3
                dt 標題04
                    dd
                        a(href='') 項目01
                    dd
                        a(href='') 項目02
                    dd
                        a(href='') 項目03
                    dd
                        a(href='') 項目04
        p.copyright.text-center copyright