doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 中興大學
        link(rel="stylesheet", href="public/css/style.css")
    body 
        heaber
            .container
                h1 中興大學
                nav
                    ul
                        li 
                            a 關於我們
                        li 
                            a 校園日誌
                        li 
                            a 實習計畫
                        li 
                            a 教職員專區
                        li 
                            a 聯絡我們
        .container 
            .row
                .col-6